neo4j>=5.19.0
pymupdf>=1.24.10
python-dotenv>=1.0.1
openai>=1.51.0
pillow>=10.3.0
imagehash>=4.3.1
tqdm>=4.66.4
reportlab>=3.6.12
streamlit>=1.37.0
plotly>=5.18.0
networkx>=3.2.1
python-pptx>=0.6.21
httpx>=0.24.1
spacy>=3.7.0
scispacy>=0.5.4
numpy>=1.26.0
requests>=2.32.3
moviepy>=1.0.3
imageio>=2.26.0
imageio-ffmpeg>=0.4.9